//colors

$main_red: #EA2A39;
$background_search: #FAFAFA;
$footer: #535353;
$main_black: #0000;
$icons_red: #AA1515;
$letters_white: #F6EBE7;

//Const
$ipad_pro: 1024px;
$tablet: 768px;
$phone: 414px;