.formcontact{
        
    padding-top: 5pc;
    padding-right: 10pc;
    padding-left: 10pc;
    >div:nth-child(1){
        display: flex;
        justify-content: center;
        font-size: 170%;
        font-weight: 500;
       // background-color: blue;
        padding: 20px;

    }
    >div:nth-child(2){
        //border-bottom: thin;
        border-color: red ;

    }
    >div:nth-child(3){
        
    }
    >div:nth-child(4){
        
       // background-color: blue;

    }
    >div{
        
        >label{
            font-size: 90%;
            font-weight: 300;
        }
    }
    >button{

        display: flex;
        justify-content: center;
        width: 30%;
        margin-top: 10%;
        margin-left: 35%;

        
    }
}
